<main class="vh-100">
  <header class="bg-primary p-2">
    <h1 class="text-white">Boletin 2 de Angular</h1>
  </header>
  <!-- barra lateral -->
  <section class="row flex-row">
    <aside class="bg-dark col-2">
      <ul class="nav nav-tabs flex-column text-center fs-3">
        <li class="nav-link my-1" routerLink="/conjuntoTragaperras">Tragaperras</li>
        <li class="nav-link my-1" routerLink="/listadoAlumnos">Listado de alumnos</li>
        <li class="nav-link my-1" routerLink="/altaAlumnos">Alta de alumno</li>
      </ul>
    </aside>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>